# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

### Python
### R
### SQL
### Scala
### Java 
### C++
### Go

## Some of the commonly used libraries used by Data Scientists include:

### Numpy
### Pandas
### Scikit-learn
### Seaborn
### Plotly
### Keras 
### Matplotlib
### Tensorflow

# Data Science Tools



("""
| **Data Science Tools** |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Anaconda               |
| Apache Zeppelin        |
""")

# Introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
'Roqeeb Olalekan Akanbi'

# Objectives:
* List popular languages for Data Science
* Data Science Tools
* Arithmetic
* Division
* Markdown cell